// Here you can add other styles
@import 'react-autosuggest';

.app-header.navbar .navbar-brand.logo-container {
  align-items: center;
  display: flex;
  text-shadow: 2px 2px 1px #d2d2d2;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
}

.header-right-spacing {
  padding-right: 20px;
}

.add-parcel-form .input-group .input-group-addon:first-child {
  min-width: 187px;
}

.input-group-addon {
  font-weight: bold;
}

.status-icon {
  color: $brand-danger;
  &.fa-check {
    color: $brand-success;
  }
}

@keyframes animate-hourglass {
  0% {
    transform: rotateY(0deg);
    content: "\f251";
  }
  20% {
    transform: rotate(0deg);
    content: "\f252";
  }
  45% {
    transform: rotate(0deg);
    content: "\f253";
  }
  70% {
    transform: rotate(75deg);
    content: "\f251";
  }
  85% {
    transform: rotate(90deg);
    content: "\f251";
  }
  100% {
    transform: rotate(180deg);
    content: "\f251";
  }
}
.fa {
  &.fa-hourglass-start {
    &:before {
      animation: animate-hourglass infinite 1s;
    }
  }
}

.vendor-icon {
  max-width: 72px;
  max-height: 36px;
}

.parcel-card-container {
  background: #fff;
}

.parcel-status-column {
  width: 190px;
}

.notification {
  align-items: center;
  background: #fff;
  box-shadow: #8a8a8a 0 0 24px;
  display: flex;
  padding: 10px;
  position: fixed;
  right: 10px;
  transform: translateX(120%);
  top: 10px;
  z-index: 9999;
  opacity: 0;
  transition: all 0.5s;
  &.success {
    background: $brand-success;
    color: #fff;
  }
  &.failure {
    background: $brand-danger;
    color: #fff;
  }
  &.open {
    transform: translate(0);
    opacity: 1;
  }
  &
  .notification-content {
    margin-right: 10px;
  }
}
.fa {
  cursor: pointer;
}

.notification {
  a {
    color: #fff;
    text-decoration: underline;
  }
}
// .yet-to-deliver {
//   color: $brand-danger;
// }
//
// .delivered {
//   color: $brand-success;
// }

.vertical-line {
  border-left: 1px solid #cfd8dc;
}

.custom-modal {
  max-width:716px;
}

#card-reader-image {
  width: 100%;
}

.custom-avatar {
  font-size: 25px;
}

#login-tw-img {
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}