// Here you can add other styles

.app-header.navbar .navbar-brand.logo-container {
  align-items: center;
  display: flex;
  text-shadow: 2px 2px 1px #d2d2d2;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
}

.header-right-spacing {
  padding-right: 20px;
}
