@import './path';

$brand-colors: (
  primary: #42484f,
  secondary: #FFAD23,
  teriary: #999,
  quaternary: #ccc,
  quinary: #eee,
  senary: #efefef
);

$white: #fff;
$black: #000;

$body-background-color: $white;

$status: (
  error: #c00
);

$spacer: (
  spacer-5: 5px,
  spacer-10: 10px,
  spacer-20: 20px,
  spacer-50: 50px,
);

// Application spacing
$app-spacer : map-get($spacer, 'spacer-20');

// Animation timing
$app-animation-duration: 500ms;

// Box
$box-background-color: map-get($brand-colors, 'quaternary');
$box-border-color: map-get($brand-colors, 'quaternary');
$box-border-width: 1px;
$box-border: $box-border-color solid $box-border-width;
$box-padding: map-get($spacer, 'spacer-10');

// Zero Value
$zero-value: 0;
