$navigation-icon-dimension: 30px;
$app-header-height: 60px;
$header-background: $white;
$header-text-color: #3e3e3e;
$header-border-bottom: 1px solid map_get($brand-colors, 'quinary');
$sidebar-background: map_get($brand-colors, 'secondary');
$sidebar-active-background-color: map_get($brand-colors, 'tertiary');
$sidebar-hover-background-color: map_get($brand-colors, 'primary');

.app-header {
  align-items: center;
  background: $header-background;
  border-bottom: $header-border-bottom;
  color: $header-text-color;
  display: flex;
  padding: map_get($spacer, 'spacer-15') $box-padding;
}

.logo-image {
  text-transform: uppercase;
  font-size: 25px;
  text-shadow: 2px 2px 1px #d2d2d2;
  font-weight: bold;
}

.navigation-toggle {
  align-items: center;
  border-radius: $navigation-icon-dimension/2;
  display: flex;
  height: $navigation-icon-dimension;
  justify-content: center;
  line-height: $navigation-icon-dimension;
  width: $navigation-icon-dimension;
  animation: rotate $app-animation-duration/2 1 linear;
  .icon-dot-3 {
    transform: rotate(90deg);
  }
  &.close {
    animation: rotate-reverse $app-animation-duration/2 1 linear;
  }
}

.links-container {
  background: $sidebar-background;
  position: absolute;
  top: $app-header-height;
  bottom: 0;
  width: $width-of-sidebar;
  transition: all $app-animation-duration;
  &.close {
    left: -$width-of-sidebar;
    box-shadow: 0 0 0 0 $header-background;
  }
  &.open {
    left: 0;
  }
  ul {
    a {
      display: block;
      padding: $app-spacer;
      color: $white;
      &.active {
        background: $sidebar-active-background-color;
      }
      &:hover {
        background-color: $sidebar-hover-background-color;
      }
    }
    li.bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
